<hgroup>
  <h1 ng-bind="title" />
  <h3>By Davi Monteiro Barbosa</h3>
</hgroup>
<form ng-controller="LoginController" class="login">

	<md-input-container flex> 
		<label>Username</label>
		<input ng-model="usuario.username" required="required">
	</md-input-container>
	
	<md-input-container flex>
		<label>Password</label>
		<input type="password" ng-model="usuario.password" required="required">
	</md-input-container>
  
	<button type="submit" ng-click="login(usuario)" class="button buttonBlue" >Login
		<div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
	</button>
  
</form>